

.topbar {
  height: 80px;
  background: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* ================= SEARCH ================= */

.search-box {
  position: relative;
  width: 600px;
}

.search-box input {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: none;
  padding-left: 55px;
  font-size: 18px;
  outline: none;
  background: #e5e5e5;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #9c9c9c;
  font-size: 20px;
}

/* ================= RIGHT SECTION ================= */

.right-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Notification */

.notification {
  position: relative;
  font-size: 22px;
  color: #c7ff00;
  cursor: pointer;
  margin-left: 350px;
  margin-top: 10px;
  padding-top: -30x;
}

.notification .dot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-top: 0px;
  
}

/* Divider */

.divider {
  width: 1px;
  height: 40px;
  background: #888;
}

/* Admin Info */

.admin-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-info .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.admin-info .name {
  color: #c7ff00;
  font-size: 20px;
  font-weight: 600;
}

.admin-info .role {
  color: #ffffff;
  font-size: 14px;
}

/* Avatar */

.avatar {
  width: 55px;
  height: 55px;
  background: #c7ff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #333;
}
